version: 2
jobs:
  build:
    docker:
       - image: circleci/ruby:2.5.1

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: run code linter
          command: |
            bundle exec rubocop

      - run:
          name: run tests
          command: |
            bundle exec rake

      - run:
          name: audit dependencies for known CVEs
          command: |
            gem install bundler-audit
            bundle audit check --update

      - store_artifacts:
          path: ./coverage
          destination: coverage
