version: 2.1

commands:
  test:
    description: Run automated tests

    steps:
      - checkout
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "Gemfile.lock" }}
          - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - run:
          name: Install Rails gemfiles
          command: |
            bundle exec appraisal install

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v2-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: run code linter
          command: |
            bundle exec rubocop --config .rubocop.yml

      - run:
          name: run tests
          command: |
            bundle exec rake

      - run:
          name: audit dependencies for known CVEs
          command: |
            gem install bundler-audit
            bundle audit check --update

      - run:
          name: Run tests against rails versions
          command: |
            bundle exec appraisal rspec \
              --format RspecJunitFormatter \
              --out /tmp/test-results/rspec/results.xml \
              --format progress

      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: ./coverage
          destination: coverage

jobs:
  run_tests:
    description: Run the tests
    docker:
      - image: "circleci/ruby:<<parameters.ruby>>"
    parameters:
      ruby:
        description: The ruby version to use
        type: enum
        enum: ["2.3", "2.4", "2.5", "2.6"]
    steps:
      - test

workflows:
  version: 2
  build:
    jobs:
      - run_tests:
          name: "Ruby 2.3"
          ruby: "2.3"
      - run_tests:
          name: "Ruby 2.4"
          ruby: "2.4"
      - run_tests:
          name: "Ruby 2.5"
          ruby: "2.5"
      - run_tests:
          name: "Ruby 2.6"
          ruby: "2.6"
