version: 2.1

commands:
  test:
    description: Run automated tests

    steps:
      - checkout
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "Gemfile.lock" }}
          - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle

      - run:
          name: Install Rails gemfiles
          command: |
            bundle exec appraisal install

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}

      - run:
          name: run code linter
          command: |
            bundle exec rubocop

      - run:
          name: run tests
          command: |
            bundle exec rake

      - run:
          name: audit dependencies for known CVEs
          command: |
            gem install bundler-audit
            bundle audit check --update

      - run:
          name: Run tests against rails versions
          command: |
            bundle exec appraisal rspec

      - run:
          name: Install Rails gemfiles
          command: |
            bundle exec appraisal install

      - store_artifacts:
          path: ./coverage
          destination: coverage

jobs:
  run_tests:
    description: Run the tests
    docker:
      - image: "circleci/ruby:<<parameters.ruby>>"
    parameters:
      ruby:
        description: The ruby version to use
        type: string
    steps:
      - test

workflows:
  version: 2
  build:
    jobs:
      - run_tests:
          ruby: "2.3"
      - run_tests:
          ruby: "2.4"
      - run_tests:
          ruby: "2.5"
      - run_tests:
          ruby: "2.6"
